# Node modules
node_modules
npm-debug.log*

# Build artifacts
dist

# Environment files
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Documentation
README.md
*.md

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Coverage
coverage
.nyc_output

# Testing
.jest

# Misc
.eslintcache
.cache
